<!--フラッシュメッセージ-->
<% if flash[:notice] %>
 <p id="notice"><%= flash[:notice] %></p>
 <% end %>

<h1 class="head_edit">Editing Book</h1>
<!--@book = Book.find[params:id]-->

<% if @book.errors.any? %><!--未入力時の検証if-->
 <%= @book.errors.count %> errors prohibited this book from being saved:
  <div class="error">
   <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
   </ul>
  </div>
<% end %>


<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

 <p class="name">Title</p>
 <%= f.text_field :title %>

 <p class="name">Body</p>
 <%= f.text_area :body %>

 <p class="switch"><%= f.submit 'Update Book' %></p>

 <p class="link1"><%= link_to "Show", book_path %> | <%= link_to "Back", "/books" %></p>

<% end %>

